*{
  background-color: #ffffff;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0px;
  width: 100%;
  padding: 1px;
  
}
.grid-item1{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 1px;
  padding: 1px;
}
.grid-item2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 2;
  width: 100%;
}

.grid-item3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 3;
  grid-column-gap:0px ;
  grid-row-gap: 0px;
  margin: 0px;
  padding: 1px;
 }
 .grid-item3-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(2,1fr);
    margin: 0px;
  padding: 1px;
 }
 .grid-item4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: repeat(2,200px);
  grid-template-rows: 100px;
  margin: 1px;
  padding: 1px;
 }
 .footer-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 5;}
.grid-item5 {
  grid-column-start: 1;
  grid-column-end:4;
  grid-row-start: 6;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 1px;
  padding: 1px;

}
.grid-item6 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 6;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 1px;
  padding: 1px;
  align-items: flex-start;
}
.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 7;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  margin: 10px;
  padding: 60px;
  align-items: flex-start;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
center {
  text-align: -webkit-center;
}

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("img/diamant-72.jpg");
    min-height: 680px;*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;}
    .bg-img1 {
      /* The image used */
      background-image: url("img/diamant-72.jpg");
        min-height: 600px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right:200px;
  margin: 15px;
  max-width: 800px;
  padding: 30px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 75%;
  padding: 3px;
  margin: 2px 0 5px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #aa1d04;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.button {border-radius: 2px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button {border-radius:13px;}
.btn:hover {
  opacity: 1;
}

/*--navigation nav bar--*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(243, 234, 234);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(240, 8, 8);
}

.active {
  background-color: #eb3203;
  width: 100%;
  border-radius: 12px;
}
h1,h2,label{
  color: red;}
  titre_rouge{
    align-content:space-between;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
 .fa-facebook {
    background: #3B5998;
    color: white;
    
 }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }


  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  

